* {
    font-family: Helvetica;
  }
  
  
  h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("./resources/images/pattern.jpg");
  }
  
  
  p, 
  li {
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
  }